# Database Connection
DB_FORMAT = "Formato de conexión a la base de datos"
DB_HOST = "Host de la base de datos"
DB_PORT = "Puerto de la base de datos"
DB_USER = "Usuario de la base de datos"
DB_PASSWORD = "Contraseña de la base de datos"
DB_NAME = "Nombre de la base de datos"
DB_OPTIONS = "Opciones de la base de datos"

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME = "Nombre de la nube de Cloudinary"
CLOUDINARY_API_KEY = "Clave de API de Cloudinary"
CLOUDINARY_API_SECRET = "Clave secreta de API de Cloudinary"

# Secret 
JWT_SECRET = "Secreto de JWT"
RESEND_API_KEY = "Clave de API de Resend"

BASE_URL = "http://localhost:3000"
NEXT_PUBLIC_API_DOMAIN = "http://localhost:3000"
RESEND_TO_EMAIL = "Email de destino para los correos de Resend"
